
.modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
.modal-block {
    
    max-width: 780px;
    width: 100%;
    margin: auto;
    top: 50%;
    margin-top: -275px;
    background: #fff;
    border-radius: 5px;
    padding: 40px 45px;
    position: relative;
}
.modal-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 45px;
}
.modal-body {
    margin-bottom: 53px;
}

.button--closed{
    position: absolute;
    top: 50px;
    right: 46px;
    width: 25px;
    height: 25px;
    background: url(../img/close.svg) no-repeat center;
    border: none;
    cursor: pointer;
}
.cart-string{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 14px;
    padding-bottom: 14px;
}
.price-count {
    display: flex;
    align-items: center;

}
.price-dish {
    margin-right: 48px;
}
.button-count {
    width: 39px;
    height: 32px;
    border: 1px solid #1890FF;
    background: transparent;
    cursor: pointer;
}
.count {
    margin-left: 13px;
    margin-right: 13px;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons-modal--footer .button {
    padding: 8px 16px;
}
.fullprice{
    padding: 15px 20px;
    background: #262626;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
    
}





.open {
    display: block;
    visibility: visible;
}